H1
{
    font-size: 170%;
    font-family: Verdana, Arial, Helvetica, fantasy;
    color: #139;
}
p
{
    font-size: 130%;
    font-family: Verdana, Arial, Helvetica, fantasy;
    color: #128;
}
img
{
 width:400px;
}